/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
/tmp/storage/*
!/tmp/storage/.keep
/storage/*
!/storage/.keep
/public/assets
.byebug_history
/config/master.key
/.env*
!/.env.example
node_modules/
/public/vite*
/public/packs
/app/frontend/entrypoints/.vite

*.rbc
